

h1 {
	margin:0;
	font-weight:700;
	font-size:3em;
	text-shadow:0 0 3px white;

	svg { fill: var(--color-or-red) }
}


@media only screen and (max-width:850px) {
	h1 {
		font-size:2.5em;
	}
}
@media only screen and (max-width:650px) {
	h1 {
		font-size:2em;
	}
}
@media only screen and (max-width:550px) {
	h1 {
		font-size:1.5em;
	}
}
@media only screen and (max-width:400px) {
	h1 {
		font-size:1.25em;
	}
}


#avatarImage {
	margin:10px 0 10px 10px;
	max-width:50px;
	float:right;
	border:1px solid var(--color-ink-med);
}

body > header {
	width:100vw;
	min-height:28vw;
	border-top: 10px solid var(--color-or-blue);
	border-bottom: 10px solid var(--color-or-red);
	padding:0 2em 2em 2em;
	position:relative;

	background:url(/img/NinaHeader.jpg)  no-repeat center 10%;
	background-size: cover;
	color: var(--color-or-blue);
	text-shadow:0 0 3px white;

	aside {
		position:absolute;
		bottom:10px;
		left:10px;
		right:10px;
		text-align:center;
		background-color:rgba(255,255,255,0.25);
		font-weight:bold;

		@media only screen and (max-width:540px) {
			font-size:8px;
			font-weight:normal;
		}

	}
}

.ksflex.half {
	width:50%;
}

@media only screen and (max-width:($mainBreakpoint - 1px)) {

	.ksflex.half {
		width:100%;
	}

}

.supertitle {
	font-size: 75%;
	text-transform: uppercase;
	color: #f39d04;
	margin-right: 1em;
}

.download-container {
	margin:1em 0;
	text-align: right;	
}

.button, body.other .filebutton {
	color: #fbe3b7 !important;
	text-transform: uppercase;
	text-decoration: none;
	background: var(--color-or-blue);
	padding: 10px 20px;
	border-radius: 20px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;

	&:disabled {
		opacity:0.3
	}
}

.button:hover {
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}

// Don't show download button on iOS
body.iPad .hidden-ios, body.iPhone .hidden-ios {
	display:none !important;
}

body.other .visible-ios {
	display:none !important
}

form.generator {

	select {
		display:block;
	}

	input[type="text"], textarea, select {
		display:block;
		width:calc(100% - 30px);
	}
	textarea {
		height:7em;
	}
	input[type="checkbox"] {
		margin-right:0.5em;
	}
	label {
		text-transform:uppercase;
		font-size:75%;
		line-height:1.0;
	}
	.small { font-size: 75%; }

	input[type="file"] {
		max-width:100%;
		margin:0 auto;
		display:block !important;
	}

	input[type="submit"] {
		margin:1em auto;
		display:block;
	}

	input[type="radio"] {
		opacity: 0;
		position: fixed;
		width: 0;
	}

	img {
		border:4px solid var(--color-paper-high);
	}

	// Hack so iphone doesn't zoom in on input
	input, input:active, input:focus, input:focus-within, input:hover, input:visited {
	    font-size: 16px!important;
	}

}



// Don't allow dragging out of placeholder image, or of image on non-iPhone - use download button instead.

.placeholder, body.other .resultImage {
	pointer-events: none;
}

.placeholder.supertitle {
	margin:0.5em 0;
}

.resultImage {
	margin-bottom:10px;
}

.background-thumbnail {
	width:120px;
	height:120px;
}

	input[type="radio"]:checked + .swatch, input[type="radio"]:checked + img  {
		border-color: #4c4;
		border-style:solid;
	}
	input[type="radio"]:focus + .swatch, input[type="radio"]:focus + img {
		border-style:dashed;
	}












