
.swatch {
	height:1.5em;
	width:3.3em;
	display:inline-block;
}

.background-thumbnail {
	max-width:44%;
	height:auto;
}

h1 {
	margin:0;
	font-family:jubilat,serif;
	font-weight:700;
	font-size:5em;
}

h1.nina {
	font-size:4em;
}

@media only screen and (max-width:850px) {
	h1 {
		font-size:3em;
	}
	h1.nina {
		font-size:2em;
	}
}
@media only screen and (max-width:550px) {
	h1 {
		font-size:2em;
	}
	h1.nina {
		font-size:1.5em;
	}
}
@media only screen and (max-width:350px) {
	h1 {
		font-size:1.5em;
	}
	h1.nina {
		font-size:1.25em;
	}
}


#avatarImage {
	max-width:50px;
	float:right;
	border:1px solid var(--color-ink-med);
}

body > header {
	background-color:var(--color-ink-high);
	color:var(--color-paper-high);
}

.ksbox.half {
	width:45%;
}

@media only screen and (max-width:($mainBreakpoint - 1px)) {

	.ksbox.half {
		width:100%;
	}

}


.button {
	padding:1em;
	background-color:green;
	color:white;
	font-weight:bold;
	text-decoration:none;
}

textarea {
	width:90%;
}

.background-colors, .background-images {
	
	input[type="radio"] {
		opacity: 0;
		position: fixed;
		width: 0;
	}

	.swatch, img {
		border:4px solid var(--color-paper-high);
	}

	input[type="radio"]:checked + .swatch, input[type="radio"]:checked + img  {
		border-color: #4c4;
		border-style:solid;
	}
	input[type="radio"]:focus + .swatch, input[type="radio"]:focus + img {
		border-style:dashed;
	}
	
	padding-bottom:0.5em;
}



















