/*
================================================================================

General look and utility useful across the whole site

================================================================================
*/

/*
----------------------------------------
Layout
----------------------------------------
*/

$mainBreakpoint: 630px;

// TODO - incorporate into other files



/*
----------------------------------------
Colors
----------------------------------------
*/

:root {
    color-scheme: light dark;

	--color-Link:			hsl(202, 65%, 63%);
	--color-Link-hover:		hsl(202, 65%, 43%);
	--color-Inverse:		hsl(20, 65%, 63%);
	--color-Warning:		purple;
	--color-paper-high:		white;
	--color-paper-med:		hsl(0, 0%, 96%);
	--color-paper-low:		hsl(0, 0%, 74%);
	--color-ink-low:		hsl(0, 0%, 38%);
	--color-ink-med:		hsl(0, 0%, 26%);
	--color-ink-high:		hsl(0, 0%, 13%);
	--color-ink-max:		black;


	--color-dark-high:		hsl(0, 0%, 13%);

}



@media (prefers-color-scheme: dark) {

	:root {
		--color-Link:			hsl(202, 65%, 63%);
		--color-Link-hover:		hsl(202, 65%, 43%);
		--color-Inverse:		hsl(20, 65%, 63%);
		--color-Warning:		purple;
		--color-paper-high:		hsl(0, 0%, 0%);
		--color-paper-med:		hsl(0, 0%, 4%);
		--color-paper-low:		hsl(0, 0%, 26%);
		--color-ink-low:		hsl(0, 0%, 62%);
		--color-ink-med:		hsl(0, 0%, 74%);
		--color-ink-high:		hsl(0, 0%, 87%);

		--color-dark-high:		hsl(0, 0%, 4%);
   }
}

html { color:var(--color-ink-high); }

a { color:var(--color-Link); }

main {
	background:var(--color-paper-high);
}


/*
----------------------------------------
Typography
----------------------------------------
*/

body {
	font:20px/1.6 sans-serif;
	font-weight:400;
}


/*
----------------------------------------
Geometry
----------------------------------------
*/

section {
	padding-top:1rem;			// don't specify sides since those are handled separately
	padding-bottom:1rem;
}


/* for header and footer, full window width but indented a bit */

body > footer p {
	padding:20px 5%;
	margin:0;
	font-size:80%;
}

article.textual {
	margin:0 auto;
	padding:0 0;		/* if we use margin above then it messes with background image */
	max-width:60em;
}

body > footer {
	background:var(--color-paper-low);
	color:var(--color-ink-high);

	a {
		color:var(--color-ink-med);
	}
	p {
		text-align:left;
		max-width:52em;
		margin:0 auto;
	}
}





.ksflex {
    padding: 15px 15px
}


.flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap
}





img, canvas {
	max-width:100%;
}



